.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px;
}

::ng-deep mat-sidenav {
  border-radius: 0 !important;
}

.search-bar input::selection {
  background-color: #22d3ee;
  color: black;
}
