<div class="page mt-[10.5vh]">
  <div class="pr-2 bg-slate-900 fixed w-full opacity-95 top-0 z-50">
    <div class="w-full flex justify-between items-center">
      <div class="flex justify-center items-center cursor-pointer">
        <div class="w-16">
          <img src="assets/app/logo.svg" alt="" srcset="">
        </div>
        <div class="">
          <p class="!m-0 !-ml-3 text-slate-50 text-xl cursive-font">R-Chat</p>
        </div>
      </div>
      <div class="text-slate-50 flex gap-5">
        <a mat-list-item routerLink="">Home</a>
        <a mat-list-item routerLink="/auth">Auth</a>
        <button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon></button>
        <button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon></button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
