<div class="w-full rounded-md cursor-pointer duration-200 hover:bg-slate-200/90 p-[.5rem]"
  [ngClass]="{'bg-slate-200/90': getSelectedUser()._id === user._id}">
  <div class="flex items-center gap-2">
    <div class="flex items-center justify-center border-0 rounded-full h-[3rem] w-[3rem] overflow-hidden ">
      <img class="w-full h-full object-cover" [src]="getResizedImg(user.profile_pic)" alt="" srcset="">
    </div>
    <div class="flex flex-col" [title]="user.name">
      <span class="">{{returnTruncatedStr(user.name, 13)}}</span>
      <span class="text-xs italic opacity-60">{{returnTruncatedStr(user.email.toLocaleLowerCase(), 11)}}</span>
    </div>
  </div>
</div>
