@if (usersList.length) {
<div class="sub-page flex">
  <div class="basis-[30%] border-r">
    <raj-chat-connections-list [usersList]="usersList"></raj-chat-connections-list>
  </div>
  <div class="basis-[70%]">
    @if (getSelectedUser()._id === '') {
      <raj-chat-empty-chat></raj-chat-empty-chat>
    } @else {
      <raj-chat-chat-comp [user]="getSelectedUser()" (messageSentTo)="messageSentTo($event)"></raj-chat-chat-comp>
    }
  </div>
</div>
} @else {
<div class="flex justify-center items-center text-center font-medium opacity-50 sub-page text-2xl">
  <p class="">No chats yet — go connect with someone!</p>
</div>
}
