<div class="dialog-header">
    <div class="flex justify-between items-center w-full pr-4">
        <span mat-dialog-title>Edit your image</span>
        <button mat-icon-button class="" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<div mat-dialog-content class="dialog-content">
    <img [src]="img.preview" alt="" srcset="">
</div>

<div mat-dialog-actions class="dialog-actions" align="end">
    <button mat-button (click)="closeDialog()">ReUpload</button>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-flat-button (click)="closeDialog()">Change</button>
</div>
