<div class="dialog-header">
  <div class="flex justify-between items-center w-full pr-4">
    <span mat-dialog-title>New Post</span>
    <button mat-icon-button class="" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content class="no-padding">
  <div class="image-container">
    <img class="image-item" [src]="newPost.img?.preview" alt="" srcset="">
  </div>
  <div class="p-2 text-xs">
    <input #commentInput class="font-sans p-3 border outline-none w-full rounded-lg bg-transparent" type="text"
      name="Comment" placeholder="Caption for this post" [(ngModel)]="newPost.caption"
      (ngModelChange)="onCaptionChange($event)">
  </div>
</div>

<div mat-dialog-actions class="dialog-actions" align="end">
  <button mat-button (click)="reUpload()">ReUpload</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-flat-button (click)="createNewPost()" [disabled]="!(newPost.img?.img && newPost.caption)">Post</button>
</div>

@if (loading) {
<div class=" fixed top-0 right-0 h-screen w-screen flex justify-center items-center bg-black-200/80 z-50">
  <raj-chat-loader></raj-chat-loader>
</div>
}
