<div #chatContainer class="w-full h-[74vh] max-h-[76vh] overflow-y-auto">
  <div class="flex flex-col justify-end min-h-full p-4 gap-4">
    @for (chat of chats; track $index) {
      <div [ngClass]="{
            'text-stone-800 rounded-br-none bg-stone-300 self-end': !isRecieved(chat),
            'bg-stone-800 rounded-bl-none text-stone-200 self-start': isRecieved(chat)
          }" class="max-w-[60%] rounded-lg p-4 relative break-words inline-block">
        <div class="text-sm">{{ chat.content }}</div>
        <div class="text-[.6rem] text-right opacity-60 italic">{{ dateNumToDateStr(chat.createdAt) }}</div>
      </div>
    }
  </div>
</div>
