/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss"; */

/* @import 'cropperjs/dist/cropper.css'; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  color: white;
  background: #212A3E;
}

body {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

img {
  width: 100%;
}

button {
  transition: 0.5s;
}

button:active {
  transform: scale(0.9);
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

.page {
  height: 89.5vh;
}

.sub-page {
  height: 89.5vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.cursive-font {
  font-family: 'Pacifico', cursive;
}

p {
  margin: 0 !important;
}

.box-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 5px;
}

.snackbar-success {
  background-color: #4caf50;
  color: white;
  font-weight: 500;
  border-radius: 8px;
}

.snackbar-failure {
  background-color: #f44336;
  color: white;
  font-weight: 500;
  border-radius: 8px;
}

.snackbar-neutral {
  background-color: #2196f3;
  color: white;
  font-weight: 500;
  border-radius: 8px;
}

.mat-snack-bar-container {
  margin: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}