@if (isPopup) {
    <div class="wrap">
        <div class="controls">
            <button (click)="toggleMic()">{{ micOn() ? 'Mute' : 'Unmute' }}</button>
            <button (click)="toggleCam()">{{ camOn() ? 'Camera Off' : 'Camera On' }}</button>
            <button (click)="hangup()">Hang Up</button>
        </div>
        <div class="videos">
            <video #localVideo autoplay playsinline></video>
            <video #remoteVideo autoplay playsinline></video>
        </div>
    </div>
} @else {
    <div class="h-[50vh] w-full flex justify-center items-center">
        <div class="flex justify-center items-center flex-col gap-4">
            <p class="opacity-50">This call must open in a popup.</p>
            <button class="border p-3 rounded-md" (click)="openCall()">Open Call</button>
        </div>
    </div>
}